# Wildframe Nervous System Environment Configuration
# Copy this file to .env and adjust as necessary

RESOLUME_IP=127.0.0.1
RESOLUME_PORT=7000

MADMAPPER_IP=127.0.0.1
MADMAPPER_PORT=8010

COMPANION_IP=127.0.0.1
COMPANION_PORT=12321

LISTEN_IP=0.0.0.0
LISTEN_PORT=9000

WS_PORT=9001
